.toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 12px;
    right: 0;
    z-index: 1;

    &:focus {
        outline: 0;
    }

    &.active .toggle__burger {
        background: none;
    }

    &.active .toggle__burger:before {
        transform-origin: left top;
        transform: rotate(45deg) translate3d(0px, -3px, 0)
    }

    &.active .toggle__burger:after {
        transform-origin: left bottom;
        transform: rotate(-45deg) translate3d(0px, 3px, 0);
    }

    @media (max-width: 991px) {
        display: block;
    }
    
}



.toggle__burger {
    display: block;
    width: 100%;
    height: 3px;

    background-color: $black;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;

    &::before, &::after {
        content: "";
        width: 100%;
        height: 3px;
    
        background-color: $black;
    
        position: absolute;
        left: 0;
        z-index: 1;
    
        transition: transform .2s linear;
    }

    &:before {
        top: -8px;
    }

    &:after {
        bottom: -8px;
    }
}

